:root {
  --primary: #3F51B5;
  --secondary: #fdd000;

  --btn: #3F51B5;
  --nav: #db2b39;
  --sidenav: #ffffff;

  --divider: rgba(0,0,0, 0.435);

  --footer: #ffffff;
  --footer-text: rgba(0,0,0,0.8);
  --footer-link: rgba(0,0,0,0.8);
}

/* Adds limited theming support to MaterializeCSS. */

nav {
  background-color: var(--nav);
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.15);
}

.sidenav {
  background-color: var(--sidenav);
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.1);  
}

.sidenav li>a.btn:hover,
.sidenav li>a.btn-large:hover,
.sidenav li>a.btn-small:hover,
.sidenav li>a.btn-large:hover {
    background-color: var(--btn);
}

.btn,
.btn-large,
.btn-small {
  background-color: var(--btn);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: var(--btn);
  filter: brightness(1.2) saturate(80%);
}

footer.page-footer {
  color: var(--footer-text);
  background-color: var(--footer);
}

footer.page-footer a {
  color: var(--footer-link);
}

.divider {
  background-color: var(--divider);
}