.theme {
    background-color: var(--primary);
    color: #ffffff;
}

.theme-text {
    color: var(--primary);
}

.cherry {
    background-color: #b5001e !important;
    color: #ffffff !important;
}

.cherry-text {
    color: #b5001e !important;
}

.light {
    background-color: #fff3cf !important;
    color: rgba(0,0,0,0.87) !important;
}

.light-text {
    color: #fff3cf !important;
}

.dark {
    background-color: #23272a !important;
    color: #ffffff !important;
}

.dark-text {
    color: #23272a !important;
}

.grey {
    background-color: #2c2f33 !important;
    color: #ffffff !important;
}

.grey-text {
    color: #2c2f33 !important;
}

.greyple {
    background-color: #99aab5 !important;
    color: #ffffff !important;
}

.greyple-text {
    color: #99aab5 !important;
}

.blurple {
    background-color: #7289da !important;
    color: #ffffff !important;
}

.blurple-text {
    color: #7289da !important;
}

.white {
    background-color: #ffffff !important;
    color: rgba(0,0,0,0.87) !important;
}

.white-text {
    color: #ffffff !important;
}

.github {
    background-color: #292d32 !important;
    color: #ffffff !important;
}

.github-text {
    color: #292d32 !important;
}

.patreon {
    background-color: #f96854 !important;
    color: #ffffff !important;
}

.patreon-text {
    color: #f96854 !important;
}

.discord {
    background-color: #7289da !important;
    color: #ffffff !important;
}

.discord-text {
    color: #7289da !important;
}

.reddit {
    background-color: #ff4500 !important;
    color: #ffffff !important;
}

.reddit-text {
    color: #ff4500 !important;
}

.twitter {
    background-color: #1da1f2 !important;
    color: #ffffff !important;
}

.twitter-text {
    color: #1da1f2 !important;
}

.youtube {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}

.youtube-text {
    color: #ff0000 !important;
}

.trello {
    background-color: #0079bf !important;
    color: #ffffff !important;
}

.trello-text {
    color: #0079bf !important;
}

.bitbucket {
    background-color: #0747a6 !important;
    color: #ffffff !important;
}

.bitbucket-text {
    color: #0747a6 !important;
}

.twitch {
    background-color: #6441a4 !important;
    color: #ffffff !important;
}

.twitch-text {
    color: #6441a4 !important;
}

.steam {
    background-color: #171a21 !important;
    color: #ffffff !important;
}

.steam-text {
    color: #171a21 !important;
}